.Footer-Link {
    color: #E0E0E0;
}

.Footer-Link:hover {
    color: #FAFAFA;
}

.Footer-Text {
    max-width: 500px;
    padding-top: 10px;
}

.Go-Top {
    background-color: #424242;
    color: white;
}

.Go-Top:hover {
    background-color: #FAFAFA;
    color: #212121;
    text-decoration: none;
    cursor: pointer;
}
