.HomeScreenContainer {
    text-align: center;
    justify-content: center;
    padding: 2% 15%;
}

.GlobalCount {
    font-weight: bolder;
    margin: 10px 0;
}

.GlobalItemContainer {
    margin: 50px 0;
}

.LastUpdatedText {
    text-align: end;
    font-size: medium;
    font-weight: bolder;
    color: #424242;
}
